<h2>Edit User Account</h2>
<div class="tabbable tabs-top" style="margin-bottom: 18px;">
<ul class="nav nav-tabs">
  <li class="active" id="user_settings"><a href="#<%= @user.id %>" data-toggle="tab">User Settings</a></li>
</ul>
  <div class="tab-content">
		<%= render 'form' %>
  </div>
</div>