<h1>Listing queries</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Keywords</th>
    <th>Asked at</th>
    <th>response</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @queries.each do |query| %>
  <%= render query %>
<% end %>
</table>

<br />

<%= link_to 'New Query', new_query_path %>
